/*GENERAL*/
*{
    font-family: Verdana;
}
.btn-link{
    color: green;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #AC6353 50%, #53AC63 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;}
.h1{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.h3{
    margin-top: 20px;
    color: #a0aec0;
    margin-bottom: 20px;
}
.text{
    color: #1a202c;
}
.h1 {
    font-family:monospace;
}

.header{
    background-color:rgba(255,255,255,.8)
}

/*Login*/

.HeaderLogo{
    max-width: 35px;
    max-height: 35px;
}
.LoginLogo{
    margin-top: 20px;
    margin-bottom: 10px;
}

.username{
    margin-top: 10px;
    margin-bottom: 20px;
}
.password{
    margin-top: 10px;
    margin-bottom: 20px;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}

.bg3 {
    animation-duration:5s;
}
@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}

/*HOME*/
.offcanvas.show{
    height: 75vh;
}
.offcanvas-header{
   justify-content: center;
}
.Home-header{
    text-align: center;
}

#Home.row{
    padding: 15px;
    width: 100%;
    background: rgba(220,220,220, .8);
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 75px;

}
#Home1.row{
    margin-top: 50px;
    margin-bottom: 75px;
}

.Welcome {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    top:50%;
    transform:translate(-50%, -50%);
}

.Background-Home{
    background-image: linear-gradient(-60deg,  #AC6353 50%, #53AC63 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

#Home-card.card{
    margin: 25px;
    text-align: center;
}
#welcome.row{
    margin-top: 50px;
    margin-bottom: 50px;
}

/*BARS*/


.h1-Bars{
    margin-bottom: 20px;
}

#Bars.row{
    margin-top: 100px;
    margin-bottom: 75px;
    justify-content: center;
}

#Bars-card.card{
    margin: 25px;
    text-align: center;
}

/*LEADERBOARD*/

#Leader.card{
  margin: 25px;
    text-align: center;
}
#Leader.row{
    margin-top: 100px;
    margin-bottom: 75px;
    justify-content: center;
}
/*USERPROFILE*/

.Profilepic{
    max-height: 168px;
    max-width: 168px;
}
#User.row{
    padding: 15px;
    width: 100%;
    background: rgba(220,220,220, .8);
    border-radius: 25px;
    margin-top: 100px;
}
#Uhistory.row{
    padding: 15px;
    width: 100%;
    background: rgba(220,220,220, .8);
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 75px;
}
.logout i{
    color: #1a202c;
}

#User.card{
    margin: 5px;
}

.User.header{
    padding: 20px;

}

#nieuws.carousel-caption{
    background: rgba(220,220,220, .5);
    border-radius: 5px;
}
#BarPage.img-fluid{
    margin-top: 15px;
}
#BarPage.row{
    padding: 15px;
    width: 100%;
    background: rgba(220,220,220, .8);
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 75px;
}
#BarPage.card{
    margin: 5px;
}
 #gameSesh.row{
     margin-top: 25px;
     margin-bottom: 0px;


 }
.crop{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:100px;
}
#Profile.card{
    margin-top: 30px;
    margin-bottom: 175px;
}
#profile.row{
    margin-bottom: 75px;
}
#profile.h1{
    margin-top: 100px;
}
#form.row{
    margin-bottom: 175px;
/*margin-top: 75px;*/
}

#Game.row{
    margin-top: 15px;
}
